{% extends "base.html" %}

{% block content %}

 <div class="container-fluid">
	   <div class="row">   
		   
		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			   <div class="table-responsive">
                    <h1>Habari, {{ user.username }}!</h1>
                        {% for post in posts %}
                        <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
                        {% endfor %}
			  </div> <!-- /.table-responsive -->

		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->


{% endblock %}