{% extends "base.html" %}

{%block content %}

 <div class="container-fluid">
	   <div class="row">   
		   
		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			   <div class="table-responsive">
                    <h1> Sign In</h1>


                    {% with messages = get_flashed_messages(with_categories=true) %}
                    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true" style="color:red">&times;</span></button>
                        <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form action="" method="post">
                        {{form.hidden_tag()}}

                        <p>
                            {{form.username.label}} <br>
                            {{form.username(size=32)}}

                            {% for error in form.username.errors %}
                             <span style="color: red;">[{{ error }}]</span>
                             {% endfor %}
                        </p>
                        <p>
                            {{form.password.label}} <br>
                            {{form.password(size=32)}}

                             {% for error in form.password.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </p>
                        <p>{{form.remember_me()}} {{ form.remember_me.label }} </p>
                        <p>{{form.submit()}} </p>
                    </form>
                        <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
			  </div> <!-- /.table-responsive -->

		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->


{% endblock %}