{% extends "base.html" %}

{% block content %}

 <div class="container-fluid">
	   <div class="row">   
		   
		  <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
			   <div class="table-responsive">
                    <h1>Stats!</h1>
                    
			  </div> <!-- /.table-responsive -->
		  </main>
	  </div> <!-- /.row -->
  </div> <!-- /.container-fluid -->


{% endblock %}